/* google fonts */
.butterfly-kids-regular {
    font-family: "Butterfly Kids", cursive;
    font-weight: 400;
    font-style: normal;
} /* used for steps */
.emilys-candy-regular {
    font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-style: normal;
} /* used for header, snap/stitch */
.shadows-into-light-regular {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
} /* used for input text */




html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.navbar {
    background-color: rgba(244, 173, 187, 0.75) !important; /* cherry blossom */
}

body {
    margin-bottom: 60px;
    background-color: rgba(144, 238, 144, 0.5); /* light green */
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* the only CSS added above here is the background colouring and fonts, everything else is default when creating MCV website */
header {
    font-family: "Emilys Candy", serif;
    font-size: 1.5rem;
}
footer {
    font-family: "Butterfly Kids", cursive;
    font-size: 2rem;
}
footer a {
    color: #d46a92;
}

/* HOME PAGE */
#homePage #homePageOne {
    width: 25%;
}
#homePage #homePageTwo {
    width: 25%;
}
#homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#homePage #step {
    font-size: 3rem;
    font-family: "Butterfly Kids", cursive;
}
#homePage #circle {
    font-size: 8rem;
    font-family: "Butterfly Kids", cursive;
    border: 5px solid #FFB7C5;
    border-radius: 50%;
}
#homePage #snapStitch {
    font-size: 4.5rem;
    font-family: "Emilys Candy", serif;
}
#homePage #memories {
    font-size: 3rem;
    font-family: "Emilys Candy", serif;
}
#homePage #spacing {
    margin: 40px;
}
#homePage #perfect {
    font-size: 5rem;
    font-family: "Emilys Candy", serif;
}
#homePage li {
    font-size: 2.5rem;
    font-family: "Butterfly Kids", cursive;
}
#homePage ul {
    list-style: none;
    padding-left: 0;
}
#homePage li::before {
    content: "\2661";
    color: #d46a92;
    margin-right: 10px;
}
#homePage a {
    color: black;
}
#homePage a:hover {
    color: #d46a92;
    text-decoration: none;
    font-size: 3.5rem;
}

h1 {
    font-size: 6rem;
    font-family: "Butterfly Kids", cursive;
} /* all page titles */

/* CONTACT PAGE */
#contactMe #address {
    display: flex;
    flex-direction: column;
}
#contactMe label {
    font-family: "Emilys Candy", serif;
    font-size: 2rem;
}
#contactMe .contactForm {
    width: 30%;
    align-items: center;
    justify-self: center;
}
input {
    font-family: "Shadows Into Light", cursive;
    font-size: 1.5rem;
}
#contactMe .newItem, #contactMe .submit {
    font-family: "Butterfly Kids", cursive;
    font-size: 2rem;
    border: 2px solid #d46a92;
    background-color: rgba(244, 173, 187, 0.75);
    border-radius: 10px;
}
#contactMe .form-group {
    margin-bottom: 15px;
}
#contactMe #itemError {
    font-family: "Butterfly Kids", cursive;
    font-size: 2.5rem;
}
#contactMe .descriptive {
    font-family: "Butterfly Kids", cursive;
    font-size: 3.5rem;
    border: 2px solid #d46a92;
    background-color: rgb(144, 238, 144);
    border-radius: 10px;
}