@{
	ViewData["Title"] = "About Me";
}

<div class="text-center">
	<h1 class="display-4">About Me</h1>
</div>

<div class="aboutMe">
	<p class="intro">Hi! I'm Megan of Meg's Cozy Crochet Crafts</p>
	<p>What started as a hobby quickly became a passion for creating handmade pieces that make people smile!</p>
	<img src="~/img/profile.JPG" alt="Megan Summers" />
	<p class="alt">I love the challenge of taking a photo, an idea, or even a simple description and transforming it into something tangible through crochet. Whether it's a gift, a keepsake, or a piece of nostalgia, I believe the best creations are the ones that tell a story.</p>
	<p>Every piece is handmade with care, attention to detail, and just enough stubborn determination to convince yarn to become something extraordinary!</p>
	<img src="~/img/profilePic.JPG" alt="Megan Summers" />
	<p class="alt">Life is made of moments. I just happen to stitch them together!</p>
</div>