@{
	ViewData["Title"] = "Contact Me";
}

<div class="text-center">
	<h1 class="display-4">Contact Me</h1>
</div>
<form class="customerInfo"> 
	<div class="form-group">
		<label for="name">Name:</label>
		<input type="text" id="name" name="name" placeholder="John Smith" />
	</div>
	<div class="form-group">
		<label for="address">Address:</label>
		<input type="text" id="address" name="addressLine1" placeholder="123 Front St" />
		<input type="text" id="address" name="addressLine2" placeholder="Orillia, ON" />
		<input type="text" id="address" name="addressLine3" placeholder="L3V 3L5" />
	</div> 
	<div class="form-group">
		<label for="email">Email:</label>
		<input type="email" id="email" name="email" placeholder="johnsmith123@example.com" />
	</div>
</form>
<form class="item">
	<div class="form-group">
		<label for="itemDesc">Item Description:</label>
		<input type="text" id="itemDesc" name="itemDesc" placeholder="Granny Stitch Bucket Hat" />
	</div>
	<div class="form-group">
		<label for="colour">Colour:</label>
		<input type="text" id="colour" name="colour" placeholder="Fushia" />
	</div>
</form>