@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Meg's Cozy Crochet Crafts</h1>

    <h3>You snap it, I stitch it!</h3>
    @* photo of a 1 in a circle *@
    <p>Send me a photo and share your idea</p>
    @* photo of a 2 in a circle *@
    <p>2. Watch your idea come to life in crochet</p>

    <h2>Bringing your favourite memories to life through cozy crochet creations.</h2>

    <h3>Perfect for:</h3>
    <ul>
        <li>Custom toys</li>
        <li>Special gifts</li>
        <li>Matching outfits</li>
        <li>Unique keepsakes!</li>
    </ul>
</div>
