@{
    ViewData["Title"] = "Home";
}

<div class="text-center" id="homePage">
    <h1 class="display-4">Welcome to Meg's Cozy Crochet Crafts</h1>

    <div id="spacing">
        <h3 id="snapStitch">You snap it, I stitch it!</h3>
        <p id="step"><span id="circle">1</span>Send me a photo and share your idea</p>
        <p id="step"><span id="circle">2</span>Watch your idea come to life in crochet</p>
    </div>    
    <div id="spacing">
        <h2 id="memories">Bringing your favourite memories to life through</h2>
        <h2 id="memories">cozy crochet creations.</h2>
    </div>

    <h3 id="perfect">Perfect for:</h3>
    <ul>
        <li>Custom toys</li>
        <li>Special gifts</li>
        <li>Matching outfits</li>
        <li>Unique keepsakes!</li>
    </ul>
</div>
